@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss';


body{ 
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    background-color: rgba(54, 53, 53, 0.075);

}


.bg-film {
    height: 250px;
    background-image: url(../assets/images/bg-film.jpg);
    background-size: cover;
}

.title-1 {
    font-family: 'Faster One', cursive;
    font-size: 100px;
}

.egale-result {
    position: relative;

    #result {
        overflow-y: scroll;
        z-index: 9999;
        position: absolute;
        top: 38px;
        left: 0;
        width: calc(100% - 10px);
        height:auto;
        padding: 1rem;
        border: 1px solid rgba(51, 139, 255, 0.37);
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: none;
        background-color:white;

        & > div {
            cursor: pointer;
        }
        
    }
}


.div-input {

    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: rgba(54, 53, 53, 0.144);
    border-radius: 5px;

    .div-img {
        box-shadow: 8px 8px 18px rgba(49, 49, 49, 0.205);
        margin-right: 10px;
             }

}

.div-p {
    margin-left: 10px;
}

#form1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: 10px;
}

.baseDiv {
    transition: 1s;
    cursor: pointer;
}

.baseDiv:hover {
    transform:scale(1.15);
    z-index: 9999999;
}

.img-pop {
    margin-top: 60px;
    margin-left: 20px;
}

.div-film-pop {
    margin-left: 80px;
}

.titrepop {
    margin-top:100px
}

.filmsPopu {
    margin-left: 70px;
}

//page 2 films
.img-poster {
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 5px;

    @include media-breakpoint-down(md) {
        margin-left: 0; 
   }
}

.img-bg2 {
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.div-info {
  
    border-radius: 5px;
    margin-top: 30px;
    margin-left: -150px;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 50px;
    font-size: 20px;
    color: white;
    height: 550px;
    .div-titre {
        font-size: 40px;
    }

    
.card{
    width : 222px!important;
}
    @include media-breakpoint-down(md) {
        margin-left: 0;
        height: auto;
        margin-bottom: 50px;
    }
    
}

